node_modules
build
.idea
.env
environment.tf
terraform-backend.tfconf
.terraform
config.auto.tfvars

dist
yarn-error.log
npm-error.log
package-lock.json
yarn-lock.json
nbproject
.history

db
.DS_Store
*.vs/
npm-debug.log
*.vs/*
.vscode/
